.wrapper {
	display:none;
}

.row {
	margin-left:.5rem;
	margin-right: .5rem;
}

nav {
	margin-left:1rem;
	margin-right:1rem;
}

.card,.card-header,.card-footer {
	border: none;
	background-color:transparent;
}
