/* Animations */

@keyframes rotate {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
}

@keyframes rotate-ccw {
        from { transform: rotate(0deg); }
        to { transform: rotate(-360deg); }
}

/* Elements */

label {
	font-weight:500;
}

nav {
	margin-left:1rem;
	margin-right:1rem;
}

pre {
	overflow:scroll;
	border: solid thin;
	margin-top:1rem;
	padding: .5rem;
	background-color: #ccc;
	font-family:monospace;
}

/* Ids */

#decrypt-qr-video-grid {
	display:grid;
	grid-template-columns:1fr 1fr;
	gap: 0px 10px;	
}

#decrypt-spinner {
        animation: rotate-ccw 5s linear infinite;
        transform-origin: center;
}

#decrypt-spinner-svg {
	display:none;
	margin-left:.5rem;	
}

#encrypt-spinner {
        animation: rotate 5s linear infinite;
        transform-origin: center;
}

#encrypt-spinner-svg {
	display:none;
	margin-left:.5rem;
}

/* Classes */

.card,.card-header,.card-footer {
	border: none;
	background-color:transparent;
}

.feedback {
	font-style: italic;
	font-size: .9rem;
}

.hide-show {
	display:none;
}

.hide-show svg {
	display:inline-block;
}

.result {
	display:none;
}

.row {
	margin-left:.5rem;
	margin-right: .5rem;
}

.wrapper {
	display:none;
}

/* Media queries */

@media (max-width: 500px) {

	nav {
		margin-left:auto;
		margin-right:auto;
	}

	#decrypt-qr-video-grid {
		grid-template-columns:1fr;
	}
	
	.row {
		margin-left:calc(-.5 * var(--bs-gutter-x));
		margin-right:calc(-.5 * var(--bs-gutter-x));
	}
}
